# .gitignore
# Copyright (c) 2026 mattisva
# Licensed under the MIT License - see the LICENSE file in the project root for details.

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# OS
.DS_Store

# DB
.db
db_log/open_bot.db
.vscode/
